@font-face {
  font-family: 'Avant.Garde';
  src: url('Avant-Garden.eot');
  src: url('Avant-Garden.woff2') format('woff2'),
       url('Avant-Garden.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avant.Garde.2';
  src: url('Avant-Garden.woff') format('woff'),
       url('Avant-Garden.ttf') format('truetype'),
       url('Avant-Garden.svg#Avant-GardeGothicT.') format('svg');
  font-weight: normal;
  font-style: normal;
}

